* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff0de;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #694a47;
    color: #96c1c5;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: #6bb1ad;
}
