* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff0de;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #694a47;
    color: blue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
