* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff0de;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #694a47;
    color: #694a47;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .lista-header {
        display: flex;
        gap: 20px;
    }

    .lista-header a {
        text-decoration: none;
        color: #96c1c5;
    }

    .main {
        background-color: #96c1c5 ;
        display: flex;
    }